<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="TechTroop">

<link rel="icon" type="image/png" href="https://techtroop.co/assets/images/favicon-48x48.png" sizes="48x48">
<link rel="icon" type="image/svg+xml" href="https://techtroop.co/assets/images/favicon.svg">
<link rel="shortcut icon" href="https://techtroop.co/assets/images/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="https://techtroop.co/assets/images/apple-touch-icon.png">


<title>TechTroop</title>
<script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            techtroop50: '#f2f6f5',
            techtroop100: '#ecf2f0',
            techtroop200: '#d5e2df',
            techtroop300: '#b1c8c0',
            techtroop400: '#87a99d',
            techtroop500: '#688f82',
            techtroop600: '#53766b',
            techtroop700: '#446058',
            techtroop800: '#3b514b',
            techtroop900: '#344641',
            techtroop950: '#232e2b',
          }
        }
      }
    }
  </script>
<script src="https://groot.mailerlite.com/js/w/webforms.min.js?v176e10baa5e7ed80d35ae235be3d5024" type="text/javascript"></script>
<script src="https://assets.mailerlite.com/jsonp/1303120/forms/144842435086780321/takel?cache=1738134004258435963304326117" async="true"></script>
<script type="text/javascript" src="https://assets.mlcdn.com/ml/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="https://assets.mlcdn.com/gr/js/w/ml_jQuery.inputmask.bundle.min.js?v3.3.1"></script>
<!-- MailerLite Universal -->
<script>
    (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
    .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
    n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
    (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
    ml('account', '1303120');
</script>
<!-- End MailerLite Universal -->
</head>

<style>
html {
font-family: DM Sans, sans-serif;
}
.text-brand-950 {
    --tw-text-opacity: 1;
}
.logo {
filter: brightness(0) saturate(100%) invert(28%) sepia(31%) saturate(287%) hue-rotate(113deg) brightness(96%) contrast(92%);
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #3b514b;
  margin: 1em 0;
  padding: 0;
}
</style>